
/* Toggler */
.toggler {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    position: relative;
    margin-bottom: 40;
  }
  
  .toggler p {
    font-size: 1em;
    color: #2B283A;
    padding: 20px;
    margin-right: 20px;
    margin-left: 15px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }
  
  .no-notes-container.dark .toggler p {
    color: white;
  }
  
  .toggler-slider {
    width: 70px;
    height: 35px;
    background-color: #282D35;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #282D35;
  }
  
  .no-notes-container.dark .toggler-slider {
    border-color: white;
    background-color: #F5F5F5;
    justify-content: flex-end;
  }
  
  .toggler-slider-circle {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    margin-top: 0 ! important;
  }
  
  .no-notes-container.dark .toggler-slider-circle {
    background-color: #282D35;
  }
  