* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

button:focus {
  outline: none;
}

.ql-editor p,
.ql-editor.ql-blank::before {
  font-size: 1.3em;
  font-weight: 100;
}

.pane {
  overflow-y: auto;
  /* padding: 10px; */
}

.pane.dark {
  background-color: #1A1A1A;
}

.sidebar {
  width: 20%;
  height: 100vh;
}

.sidebar--note {
  /* display: flex; */
}

.sidebar--header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar--header > h3 {
  font-size: 1.75rem;
  margin-right: auto;
  margin-left: 5%;
}

.side-bar-button {
  cursor: pointer;
  background-color: #4A4E74;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 15px;
  font-family: 'Karla', sans-serif;
  margin-right: 5%;
}

.create-new-note-button {
  cursor: pointer;
  background-color: #4A4E74;
  border: none;
  color: white;
  border-radius: 3px;
  padding:  15px;
  font-size: 20px;
  font-family: 'Karla', sans-serif;
}

.editor {
  width: 80%;
  height: 100vh;
}

.editor.dark .mde-text {
  background-color: #1A1A1A;
  color: white;
}

.editor.dark .mde-preview {
  background-color: #1A1A1A;
  color: white;
}

.title {
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title--delete {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.title:hover .title--delete {
  display: block;
}

.note-summary:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}

.text-snippet {
  padding-inline: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #4A4E74;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 15px;
}

.text-snippet.dark {
  color: #A5A9CE;
}

.selected-note {
  background-color: #4A4E74;
}

.selected-note .text-snippet {
  color: white;
  font-weight: 700;
}

.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

.split {
  display: flex;
}


.no-notes {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.no-notes-container.dark .no-notes {
  background-color: #1A1A1A;
}

.no-notes-options {
  position: absolute;
  top: 5%;
  right: 5%;
}

.no-notes-container.dark h1 {
  color: white;
}

.logout-button-home {
  cursor: pointer;
  background-color: #4A4E74;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 15px;
  font-family: 'Karla', sans-serif;
  margin-left: 20px;
}

.delete-button {
  display: none;
  background: none;
  border: none;
}

.title:hover > .delete-button {
  display: block;
}

.trash-icon {
  cursor: pointer;
  color: rgb(153, 153, 153);
  font-size: 1.5em;
  margin-right: 10px;
}

.selected-note > .delete-button > .trash-icon {
  color: white;
}